$min-height: 60em;
$beige: #E3E5D0;

.container {
    margin-bottom: 2em;
}

.primary-container {
    padding-bottom: 999em;
    margin-bottom: -999em;
    background: $off-white-dark;
}

// .content-wrapper {
//     padding: 0 15px;
// }

.app {
    min-height: $min-height;
    overflow: hidden;
}

.action-bar {
    @extend %flexbox;
    margin-bottom: 2em;
    border-top: 3px solid $brand-warning;
    border-bottom: 1px solid #CECCC0;
    background: $off-white;
    padding: 2%;
    @include flexbox-wrap(wrap);

    > h1,
    > div {
        margin: 0;
        @include flexbox-flex(1);
        @include flexbox-align-items(center);
    }
}

.side-nav {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 999em;
    margin-bottom: -999em;
    background: #F2F2EA;
    border-right: 1px solid #D4D5D0;

    .nav.nav-pills.nav-stacked {
        li {
            @extend %flexbox;
            @include flexbox-align-items(center);
            border-bottom: 1px solid $beige;


            + li {
                margin-top: 0;
            }

            .nav-icon {
                border-right: 1px solid $beige;
                color: #777777;
                padding: 5%;
                width: 60px;
                text-align: center;
            }

            .nav-body {
                @include flexbox-flex(1 0 0);
                @include transition(all .4s ease-in-out);

                > a {
                    color: $gray-darker;
                    text-transform: uppercase;
                    font-weight: 500;
                    display: block;
                    padding: 6%;
                }

                &:hover {
                    background: lighten($beige, 5%);
                }
            }

            &.active {

                .nav-icon {
                    color: #FFF;
                    background: $brand-warning;
                }

                .nav-body {

                    > a {
                        background: lighten($beige, 5%);
                    }
                }
            }
        }
    }
}
