$min-height: 60em;
$beige: #E3E5D0;

.container {
    margin-bottom: 2em;
}

.margin-bottom {
    margin-bottom: 2em;
}

.app {
    min-height: $min-height;
    overflow: hidden;

    .primary-container {
        border-top: 3px solid $brand-warning;
    }
}

.side-nav {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 999em;
    margin-bottom: -999em;
    background: #F2F2EA;

    .nav.nav-pills.nav-stacked {
        li {
            position: relative;
            border-bottom: 1px solid $beige;

            + li {
                margin-top: 0;
            }

            > a {
                color: $gray-darker;
                text-transform: uppercase;
                font-weight: 500;
                padding: 1.3em;
                padding-left: 5em;
                @include transition(all .4s ease-in-out);

                > .fa {
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-right: 1px solid $beige;
                    color: #777777;
                    padding-top: 12%;
                    height: 100%;
                    width: 60px;
                    text-align: center;

                    &:hover {
                        background: $brand-warning;
                        @include transition(all .4s ease-in-out);
                    }
                }

                &:hover {
                    background: lighten($beige, 5%);
                }
            }

            &.active {

                > a {
                    background: lighten($beige, 5%);

                    > .fa {
                        color: #FFF;
                        background: $brand-warning;

                        &:hover {
                            background: $brand-warning;
                        }
                    }
                }
            }
        }
    }
}
