.side-nav {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 999em;
    margin-bottom: -999em;
    background: #F2F2EA;
    border-right: 1px solid #D4D5D0;

    .nav.nav-pills.nav-stacked {
        li {
            @extend %flexbox;
            @include flexbox-align-items(center);
            border-bottom: 1px solid $beige;


            + li {
                margin-top: 0;
            }

            .nav-icon {
                border-right: 1px solid $beige;
                color: #777777;
                padding: 5%;
                width: 60px;
                text-align: center;
            }

            .nav-body {
                @include flexbox-flex(1 0 0);
                @include transition(all .4s ease-in-out);

                > a {
                    color: $gray-darker;
                    text-transform: uppercase;
                    font-weight: 500;
                    display: block;
                    padding: 6%;
                }

                &:hover {
                    background: lighten($beige, 5%);
                }
            }

            &.active {

                .nav-icon {
                    color: #FFF;
                    background: $brand-warning;
                }

                .nav-body {

                    > a {
                        background: lighten($beige, 5%);
                    }
                }
            }
        }
    }
}
