<div class="row" ui-view>
    <div class="action-bar clearfix">
        <h1>Reading list</h1>
        <div>
            <a class="btn btn-primary btn-block" href="" ui-sref="app.books.new">Add a book</a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search fa-2x"></i>
                    </span>
                    <input type="text" class="form-control input-lg search" placeholder="Search"
                        ng-model="search"
                        typeahead="book as book.title for book in books | filter:$viewValue"
                        typeahead-on-select="pill(search)">
                </div>
            </div>

            <div class="col-md-12">
                <div class="well">
                    <span ng-repeat="pill in pills">{{pill.title}}</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="slat row" ng-repeat="book in books | filter:pills | orderBy:predicate:reverse">
                    <div class="col-md-4">
                        <h4 class="slat-title">
                            <a href="" ui-sref="app.books.edit({ bookId: book._id })">{{book.title}}</a>
                        </h4>
                        <p class="dim">
                            {{book.author}}
                        </p>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 class="slat-data-item">
                                    {{book.number_of_pages}}
                                </h4>
                                <p class="dim">
                                    Number of pages
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h4 class="slat-data-item">
                                    {{book.date_started | humanizeTime}}
                                </h4>
                                <p class="dim">
                                    Date started
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h4 class="slat-data-item">
                                    {{book.date_finished | humanizeTime | default:'-'}}
                                </h4>
                                <p class="dim">
                                    Date finished
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group">
                            <a class="btn btn-primary btn-small" href="" ui-sref="app.books.edit({ bookId: book._id })">Edit</a>

                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="" ng-click="deleteBook(book._id)">
                                        Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

<!--             <table class="table table-striped table-hover col-md-12">
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="predicate = 'title'; reverse = !reverse">Title</a>
                        </th>
                        <th>
                            <a href="" ng-click="predicate = 'author'; reverse = !reverse">Author</a>
                        </th>
                        <th>
                            <a href="" ng-click="predicate = 'number_of_pages'; reverse = !reverse">Pages</a>
                        </th>
                        <th>
                            <a href="" ng-click="predicate = 'date_started'; reverse = !reverse">Started</a>
                        </th>
                        <th>
                            <a href="" ng-click="predicate = 'date_finished'; reverse = !reverse">Finished</a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in books | filter:pills | orderBy:predicate:reverse">
                        <td>
                            <a href="" ui-sref="app.books.edit({ bookId: book._id })">{{book.title}}</a>
                        </td>
                        <td>{{book.author}}</td>
                        <td>{{book.number_of_pages}}</td>
                        <td>{{book.date_started | humanizeTime}}</td>
                        <td>{{book.date_finished | humanizeTime | default:'-'}}</td>
                        <td>
                            <a href="" ui-sref="app.books.edit({ bookId: book._id })">
                                <i class="fa fa-2x fa-pencil"></i>
                            </a>
                            <a href="" ng-click="deleteBook(book._id)">
                                <i class="fa fa-2x fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>
</div>
